@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Righteous&family=Secular+One&display=swap');
body{
    background-color: #FFD700;
    text-align: center;
    font-family: Arial, sans-serif;
}

#titulo{
  font-family: 'Sacramento', cursive;
  background-color: #FFD70;
  font-size: 50px;
  width: 100%;
  color: black;
}

#contenedorPrincipal{
  margin: auto;
  background-color: black;
  width: 1200px;
  height: 550px;
  padding: 20px;
}

legend{
  text-align: right;
  font-size: 35px;
  font-family: 'Permanent Marker', cursive;
  color: #FFD700;
  margin-left: 290px;
}
#contenedorSecundario{
    border-radius: 20px;
  margin: auto;
  background-color: white;
  width: 800px;
  height: 450px;
  padding: 20px;
}
footer{
  font-family: 'Secular One', sans-serif;
  background-color: black;
  color: #FFD700;
  position:fixed;
  left:0px;
  bottom:0px;
  height:30px;
  width:100%;
  padding:10px;
  padding-top: 15px;
}
.container{
  border-radius: 15px;
  margin: auto;
  background-color: black;
  width: 800px;
  padding: 20px;
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.slider{
  position: relative;
  width: 800px;
  height: 300px;
}

ul.slider li {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
    background:white;
}

ul.slider li img{
  width: 100%;
  height: 300px;
  object-fit: cover;
}

ul.slider li:first-child {
    opacity: 1; /*Mostramos el primer <li>*/
}

ul.slider li:target {
    opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
}

.menu{
  text-align: center;
  margin: 20px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  display: inline-block;
  color: black;
  text-decoration: none;
  background-color: #FFD700;
  padding: 10px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  border-radius: 100%;
  }

  * {
  padding: 0;
  margin: 0;
}
p {
  padding: 10px;
  text-align: center;
}
.barraMenu {
  width: 20%;
  margin: auto;
  overflow:hidden;
}
header {
  background: black;
  width: 100%;
  position: relative;

}

nav {
  float: left; /* Desplazamos el nav hacia la izquierda */
}
nav ul {
  list-style: none;
  overflow: hidden; /* Limpiamos errores de float */
}
nav ul li {
  float: left;
  font-family: Arial, sans-serif;
  font-size: 16px;
}
nav ul li a {
  display: block; /* Convertimos los elementos a en elementos bloque para manipular el padding */
  padding: 20px;
  color: #fff;
  text-decoration: none;
}
nav ul li:hover {
  background: #FFD700;
}
.contenido {
  padding-top: 80px;
}

.contacto_formulario{
  width: 460px;
  height: auto;
  margin: 20px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #fbfbfb;
  padding-left: 30px;
  padding-right: 30px;
}


input{
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}


textarea{
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ab4493;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}


label{
  display: block;
  float: center;
}


button{
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #FFD700;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  width: 420px;
  cursor: pointer;
}


button p{
  text-align: center;
  color: #fff;
  padding: 10px;
}


span{
  color: #ab4493;
}

h2{
  font-size: 40px;
  text-align: letf;
  padding-bottom: 20px;
  color: black;
}


h3{
  font-size: 16px;
  padding-bottom: 30px;
  color: #0e0e0e;
}


p{
  font-size: 14px;
  color: #0e0e0e;
}

.formulario input:focus{
  outline:0;
  border: 1px solid #97d848;
}


.formulario textarea:focus{
  outline:0;
  border: 1px solid #97d848;
}
